header.MuiPaper-elevation.MuiPaper-elevation4 .MuiToolbar-regular {
    justify-content: space-between;
}

.sidebar-links .MuiButtonBase-root .MuiListItemButton-root .MuiListItemButton-gutters .MuiListItemButton-root .MuiListItemButton-gutters .css-1m5i5w0-MuiButtonBase-root-MuiListItemButton-root{
    margin: 5px;
    background-color: #e8e8e8;
    border-left: 1px solid #757575;
}